<!DOCTYPE html>
<html>
  <head>
    <title>한글을 한글로!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   <script type="text/javascript">
        setTimeout( function() {
	     location.replace("https://play.google.com/store/apps/details?id=kr.edcan.neologism&hl=ko");
        }, 3000); 
   </script>
  </head>
  <body>
    <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/14502812_2116859645205853_4792113316540338815_n.jpg?oh=21ea70d41c8b7e945e504a437c88b1ac&oe=58ACB96E">
  </body>
</html>
